*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    
}
.layaout{
    width: 100%;
    height:100% ;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 3rem;
}
.layaout__article{
    position: relative;

    width: 40rem;
    height: 40rem;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.5rem;
} 
.article__img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
}
.article__overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(106, 106, 200);
    margin-top: 0;
    padding: 3rem;
    color: white;

    transform:  translateX(-40rem);
    transition: all 0.3s ease-in-out;
}
.article__description{
    margin-top: 4rem;
    font-weight: 200;

}
.layaout__article--2 > .article__overlay{
    background-color: red;
    height: 50%;

    position: relative;
    transform:  translateY(40rem);

}
.layaout__article--3 > .article__overlay{
    background-color: rgb(193, 193, 78);
    position: relative;
    transform:  translateY(40rem);
}
/*efecto*/
.layaout__article:hover > .article__overlay{
    transform: translateX(0);
}
.layaout__article--2:hover > .article__overlay{
    transform:  translateY(20rem);
}
.layaout__article--2:hover>.article__img{
    transform: translateY(-20rem);
}
.layaout__article--3:hover > .article__overlay{
    transform: translateY(0);
}